<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>fles.ch</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{description}} (v{{version}})" />
<meta name="author" content="{{{author}}}" />
<link rel="stylesheet" href="/css/application.css?v={{md5css}}" media="screen" />
</head>
<body>
  
<div class="container">
  <div class="application">
    <h1>flesch/<a href="https://github.com/flesch/boilerplate">boilerplate</a></h1>
    <p class="lead">A boilerplate app built with <a href="http://expressjs.com/">Express.js</a></p>
    <p><code>$ git clone <a href="https://github.com/flesch/boilerplate">https://github.com/flesch/boilerplate.git</a> my-new-app</code></p>
  </div>
</div>
  
<script src="/js/application.js?v={{md5js}}"></script>
</body>
</html>
